*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: blue;
}
.card{
    width:90%;
    max-width:470px;
    background:linear-gradient(135deg,#00feba,#5b548a);
    color:#fff;
    margin:43px auto 0;
    border-radius:20px;
    padding:40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border:0;
    outline:0;
    background:#ebfffc;
    color:#555;
    padding:10px 25px;
    height:60px;
    border-radius:30px;
    flex: 1;
    margin-right:16px;
     font-size:18px;
}
.search input:hover{
    background-color:lightgray;
    color:black;
}
.search button:hover{
    background-color:lightgray;
}
.search button{
    border:0;
    outline: 0;
    background: #ebfffc;
    border-radius:50%;
    width:60px;
    height:60px;
    cursor:pointer;
}

.search button img{
    width:16px;
}
.weather-icon{
    width: 170px;
    margin-top:30px;
}
.weather h1{
    font-size:33px;
    font-weight:500;
    margin:4px;
}
.weather h2{
    font-size:32px;
    font-weight:400;
    margin-top:-10px;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top:50px;
}
.col{
    display: flex;
    align-items: center;
    text-align:left;
}
.col img{
    width:40px;
    margin-right:10px;
}
.humidity,.wind{
    font-size:28px;
    margin-top:-6px;

}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left:10px;
    font-size:14px ;
    margin-top:10px;
    display: none;
}
#location i{
    font-size:29px;
    margin:4px;
    color: red;

}
#cama{
    font-size:50px;
}


@media screen and (max-width:352px) {
    .search input {
        padding: 5px 10px;
        height: 42px;
        border-radius: 36px;
        margin-right: 11px;
        font-size: 16px;
    }
    .card {
        width: 96%;
        max-width: 470px;
        border-radius: 20px;
        padding: 14px 5px;
        text-align: center;
    }
    .search button {
        height: 60px;
    }
}
@media screen and (min-width:352px) {
    .card {
        width: 96%;
        margin: 43px auto 0;
        border-radius: 22px;
        padding: 15px 6px;
    }
    .search input {
        height: 48px;
    }
}

@media screen and (min-width:380px){
    .card {
        width: 96%;
        padding: 26px 21px;
    }
    
}

